.Button {
  display: block;
  padding: 5px 8px;
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  border: .1em solid get-color('secondary');
  border-radius: $BORDER_RADIUS;
}

.Button_center {
  margin-left: auto;
  margin-right: auto;
}
