@import './Button__group.scss';

.Button {
  padding: none;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: get-color('primary');

  &:hover {
    color: get-color('accent');
  }
}

.Button--center {
  margin-left: auto;
  margin-right: auto;
}
