@mixin into-mq ($bk, $map) {

    /* Gets the $into-mq submap $key, to use it on the map-merge
        with the new rule to be set inside a media query */
    $curr-map: map-get($into-mq, $bk); 

    $into-mq: ( /* Has all the rules to be set inside a media query */
        $bk: map-merge($curr-map, $map)
    ) !global;
}

@mixin doit () {

    
}
    /*
    into-mq
    ms
    ml
    mx
    ds
    dl
    dx
    rule (e.g. container)
                rule's properties

*/
