$ms: 320;
$ml: 425;
$mx: 768;
$ds: 1024;
$dl: 1440;
$dx: 2560;


$breakpoints: (
    'ms': #{$ms}px,
    'ml': #{$ml}px,
    'mx': #{$mx}px,
    'ds': #{$ds}px,
    'dl': #{$dl}px,
    'dx': #{$dx}px
);


$into-mq: (
    'ms': (),
    'ml': (),
    'mx': (),
    'ds': (),
    'dl': (),
    'dx': ()
)
