.FormControl__radio {
  display: flex;
  margin-bottom: 5px;

}

.FormControl__radio__input {
  order: 1;
  display: inline-block;
  margin-right: 5px;
}

.FormControl__radio__label {
  order: 2;
  display: inline-block;
  margin-bottom: 0;
}

