.FormControl__group {
  display: block;
  width: 100%;
  margin-bottom: $gutter;

  &:focus-within {
    .FormControl__label {
      color: get-color('primary');
      font-weight: bold;
    }
  }
}

.FormControl__group--center {
  width: auto;
}
