.Card {
  display: inline-flex;
  position: relative;
  max-width: 300px;
  flex-direction: column;
  overflow: hidden;
  padding: $gutter;
  margin-bottom: $gutter * 2;
  box-shadow: 0 0 5px get-color('shadow');
  border-radius: $border-radius;
  background-color: get-color('dark');

  &:last-of-type {
    margin-bottom: inherit;
  }

  @include media-query('regular') {
    @include set-lateral-margin($gutter);
  }
}

@import './Card__subtitle';
@import './Card__title';
@import './Card__body';
@import './Card__image';
@import './Card__header/Card__header';
