.Card__image {
  position: relative;
  top: 0;
  height: 150px;
  width: 100%;
  margin-bottom: $gutter;
}

.Card__image--full {
  order: -1;
  width: calc(100% + #{$gutter}*2);
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-top: -$gutter;
}

.Card__image--small {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 62px;
  height: 62px;
}
