.Card {
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: 0 0 5px get-color('shadow');
  background-color: get-color('dark');
}

@import './Card__subtitle';
@import './Card__title';
@import './Card__body';
@import './Card__image';
@import './Card__header/Card__header';
