$eastern-blue: #2793BA;
$jordy-blue: #87B7EF;
$ronchi: #edb847;
$clay-creek: #878560;
$hokey-pokey1: #BAB227;


$composed: (
    primary: $ronchi,
    secondary: $eastern-blue,
    accent: $hokey-pokey1,
    dark: $clay-creek,
    light: $jordy-blue
);