$golden-fizz: #F7ED41;
$old-gold: #D6BD38;
$ronchi: #edb847;
$hokey-pokey: #D69D38;
$sea-buckthorn: #F79F41;


$analogous: (
    primary: $ronchi,
    secondary: $old-gold,
    accent: $sea-buckthorn,
    dark: $hokey-pokey,
    light: $golden-fizz
);