$reef-gold: #A18022;
$goldenrod: #FFD869;
$ronchi: #edb847;
$torea-bay: #122FA1;
$royal-blue: #4A6BED;


$complementary: (
    primary: $ronchi,
    secondary: $goldenrod,
    accent: $torea-bay,
    dark: $reef-gold,
    light: $royal-blue
);