$seance: #922AA1;
$purple-heart: #A927BA;
$ronchi: #edb847;
$turquoise-blue: #63F0C9;
$reef-gold: #A18022;

$triad: (
    primary: $ronchi,
    secondary: $seance,
    accent: $turquoise-blue,
    dark: $reef-gold,
    light: $purple-heart
);