$border-radius: 3px;

$breakpoint-ms:  100%;
$breakpoint-ml:  425px;
$breakpoint-mx:  768px;
$breakpoint-ds: 1024px;
$breakpoint-dl: 1440px;

$device-breakpoints: (
  'extra-small':  $breakpoint-ms,
  'small':        $breakpoint-ml,
  'regular':      $breakpoint-mx,
  'large':        $breakpoint-ds,
  'extra-large':  $breakpoint-dl,
);

$gutter: 15px;

$columns-amount: 16 !default;

$regular-font-size: 16px !default;

$font-sizes: (
  'small': .8rem,
  'regular': $regular-font-size,
  'large': 1.5rem,
  'extra-large': 2rem,
  'enormous': 3rem,
);

$font-families: (
  'serif': (Palatino, Garamond, Bookman, Georgia, 'Times New Roman', Times, serif),
  'sans-serif': (Roboto, 'Roboto Condensed', 'Trebuchet MS', Arial, Verdana, Helvetica, sans-serif),
  'display': (Arvo, Rubik, Impact),
  'monospaced':( 'Roboto Mono', 'Courier New', Courier),
);

