/* Colors */

/* Theme 1 */
$marzipan: #f8e9a1;
$carnation: #f76c6c;
$regent-st-blue: #a8d0e6;
$chambray: #375785;
$cloud-burst: #24305e;


$theme-1: (
    primary: $marzipan,
    secondary: $chambray,
    accent: $carnation,
    dark: $cloud-burst,
    light: $regent-st-blue
);


/* Theme 2 */


$buttered-rum: #996b0b;
$golden-tainoi: #ffce66;
$ronchi: #edb847;
$denim: #1564eb;
$dodger-blue: #4b8cfb;


$theme-2: (
    primary: $ronchi,
    secondary: $dodger-blue,
    accent: $buttered-rum,
    dark: $denim,
    light: $golden-tainoi
);


/* Theme Monochromatic */


$dallas: #6e5a22;
$chalky: #f0d893;
//$ronchi: #edc34a;
$tobacco-brown: #6e6343;
$tussock: #ba993a;


/* Theme analogous */


$golden-fizz: #F7ED41;
$old-gold: #D6BD38;
//$ronchi: #EDC34A;
$hokey-pokey: #D69D38;
$sea-buckthorn: #F79F41;


/* Theme Triad */

$seance: #922AA1;
$purple-heart: #A927BA;
//$ronchi: #EDC34A;
$turquoise-blue: #63F0C9;
$reef-gold: #A18022;


/* Theme Complementary */


//$reef-gold: #A18022;
$goldenrod: #FFD869;
//$ronchi: #EDC34A;
$torea-bay: #122FA1;
$royal-blue: #4A6BED;


/* Theme Composed */


$eastern-blue: #2793BA;
$jordy-blue: #87B7EF;
//$ronchi: #EDC34A;
$clay-creek: #878560;
$hokey-pokey1: #BAB227;

$themes-map: (
    theme-1: $theme-1,
    theme-2: $theme-2
);


$color-map: $theme-1 !default !global;
@debug $color-map;


$theme-shorthand: (
    'p': map-get($color-map, 'primary'),
    's': map-get($color-map, 'secondary'),
    'a': map-get($color-map, 'accent'),
    'd': map-get($color-map, 'dark'),
    'l': map-get($color-map, 'light'),
    'w': #fff
);

$theme: (
    'primary': map-get($color-map, 'primary'),
    'secondary': map-get($color-map, 'secondary'),
    'accent': map-get($color-map, 'accent'),
    'dark': map-get($color-map, 'dark'),
    'light': map-get($color-map, 'light'),
    'white': #fff
);

