@import './boot';
@import './components/common/Section/Section';
@import './components/common/FormControl/FormControl';
@import './components/common/Button/Button';
@import './components/common/CardList/CardList';
@import './components/common/Card/Card';
@import './components/common/Gallery/Gallery';

.Form {
  @include set-max-width-device();
  display: flex;
  flex-direction: column;
}
