.Button {
  padding: 3px 7px;
  margin-right: $gutter;
  border: 1px solid get-color('primary');
  border-radius: 3px;
  color: get-color('primary');

  &:hover {
    cursor: pointer;
    color: get-color('accent');
    border-color: get-color('accent');
  }
}

.Button--center {
  margin-left: auto;
  margin-right: auto;
}
