//$theme: '1';
//$theme: '2';
//$theme: 'analogous'; 
//$theme: 'complementary';
$theme: 'composed';
//$theme: 'monochromatic';
//$theme: 'triad';

@import './boot/_color/color';

$primary:       gc(p);
$secondary:     gc(s);
$success:       gc(a);
$light:         gc(l);
$dark:          gc(d);



@import "~bootstrap/scss/bootstrap";
