@import './Selection';

.Gallery {
  display: block;
  width: 100%;
  padding-bottom: $gutter;
  padding-top: $gutter;
  outline: none;
  margin: $gutter auto;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.20);
  background-color: rgba($color: #000, $alpha: 0.03);

  @include media-query('regular') {
    width: 70%;
  }
}
