@import './Selection';

.Gallery {
  display: block;
  width: 100%;
  padding-bottom: $gutter;
  padding-top: $gutter;
  outline: none;
  margin: $gutter auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 30px get-color('shadow');
  background-color: get-color('white');

  @include media-query('regular') {
    width: 70%;
  }
}

.Gallery__placeholder {
  opacity: .8;
  text-align: center;
}
