.Card__subtitle {
  display: inline-block;
  width: 75%;
  margin-bottom: $gutter;
  line-height: 1em;
  font-family: get-font-family('sans-serif');
  font-size: get-font-size('small');
  text-transform: uppercase;
  color: get-color('secondary');
}
