$CARD_MARGIN: 15px;
.Card {
  position: relative;
  width: 300px;
  margin-bottom: $CARD_MARGIN * 2;
  margin-left: $CARD_MARGIN;
  margin-right: $CARD_MARGIN;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 0 5px get-color('shadow');
  border-radius: $BORDER_RADIUS;
  @include set-padding($CARD_PADDING);

  &:last-of-type {
    margin-bottom: inherit;
  }
}

@import './Card__subtitle';
@import './Card__title';
@import './Card__body';
@import './Card__image';
@import './Card__header/Card__header';
