@import './Page__line';
.Page {
  display: block;
  width: 100%;
  padding-bottom: $gutter;
  padding-top: $gutter;
  outline: none;
  margin: $gutter auto;
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.20);
  background-color: rgba($color: #000, $alpha: 0.03);

  @include media-query('regular') {
    width: 70%;
  }
}

.Cursor {
  display: inline-block;
  // animation-name: blink;
  // animation-duration: 0s;
  // animation-iteration-count: infinite;
  // animation-timing-function: step-start;
  animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
  50% {opacity: 0;}
}
